#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.main{
  width: 100vw;
  height: 100vh;
}

.lightMode{
  background-color: white;
  color: black;
  padding: 10px;
}

.darkMode{
  background-color: black;
  color: white;
    padding: 10px;

}